.feynman{
  width: 100%;
  padding-top: 100px;
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
