.table {
    margin:0 auto;
    padding:0;
    width:80%;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:stretch;
    list-style-type:none;
    z-index:1;
  }

 