.page{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
}

.header{
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color:#f2f2f2;
  overflow: hidden;
}

.logo{
  margin: 0;
  padding: 0;
  width:143px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo_place_header{
  margin: 0;
  padding: 0;
  background-image: url(../images/logo_place_header.png);
  position: absolute;
  z-index:1;
  left:64px;
  top: 30px;
}

.header__title{
  margin: 0;
  padding: 0;
  font-size: 102px;
  font-weight:600;
  z-index: 1;
  width: 730px;
  margin: 0;
  position: relative;
  margin-left: 64px;
}

.header__square-pic{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 64px;
  background: #2F80ED;
  width:568px;
  height: 568px;
}

.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 18px;
  width:388px;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__link{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  color: #2F80ED ;
}

.header__link:hover{
  opacity: .7;
  transition: opacity .3s ease;
}

.header__main-illustration{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width:765px;
  height: 608px;
}

.rotation{
  margin: 0;
  padding: 0;
  animation: rotation 20s linear infinite;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.content{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-columns{
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 80%;
  background: white;
  padding: 100px 10%;
}

.two-columns__brief{
  margin: 0;
  padding: 0;
  color: #2F80ED;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text{
  margin: 0;
  padding: 0;
  width: 80%;
  flex-direction: column;
  min-width: 784px;
}

.two-columns__span-accent{
  font-weight: 600;
}

.two-columns__paragraph{
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 34px;
}

.feynman{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  padding-top: 100px;
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title{
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 100px;
  font-weight: 600;
  width: 775px;
  text-align: center;
  margin-bottom: 70px;
}

.feynman__subtitle{
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2F80ED;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:hover{
  opacity: .7;
  transition: opacity .3s ease;
}

.techniques{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  padding: 100px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards{
  margin: 0;
  padding: 0;
  width: 920px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 100px;

}

.cards__item{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top:60px;
}

.cards__image{
  margin: 0;
  padding: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin:0 40px 43px 40px ;
}

.cards__title{
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description{
  margin: 0;
  padding: 0;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.section-title{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
}

.section-subtitle{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  width: 60%;
  text-align: center;
}

.oakley{
  margin: 0 auto;
  background: #f2f2f2;
}

.kaufman{
  margin: 0 auto;
  padding: 0;
  width:100% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1F1F1F;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.title_color_white{
  z-index: 2;
  color: white;
}

.subtitle_color_white{
  margin-bottom: 80px;
  z-index: 2;
  color: white;
}

.table{
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 80px;
  column-gap: 20px;
  width: 80%;
  position: relative;
  z-index: 2;
  color: white;
}

.table__cell{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table__text{
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 20px;
  line-height: 1.2;
}

.table__heading{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.kaufman__triangle{
  margin: 0;
  padding: 0;
  position:absolute;
  right: 0;
  top: -25px;
  transform: rotate(30deg);
}

.resources{
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 100px 0 217px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone{
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type:none;
}

.resources__logo{
  margin: 0;
  padding: 0;
  width:270px ;
  height: 38px;
}



.resources__logo:hover{
  opacity: .7;
  transition: opacity .3s ease;
}

.footer{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color:#1F1F1F;
  box-sizing: border-box;
  padding:  60px 10% 40px ;
}

.footer__content{
  margin: 0;
  padding: 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.png);
  margin: 0;
}

.footer__author{
  color: white;
  margin: 0 ;
}

